version: '3.8'
services:
  app:
    build: .
    volumes:
      - ./src:/var/www
    networks:
      - booking-network

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - booking-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: my_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: hainam
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - booking-network

  redis:
    image: redis:alpine
    networks:
      - booking-network

  horizon:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking_horizon
    volumes:
      - ./src:/var/www
    depends_on:
      - redis
      - db
    # Thay vì chạy php-fpm, container này chạy lệnh horizon
    command: php artisan horizon
    networks:
      - booking-network
      
networks:
  booking-network:
    driver: bridge

volumes:
  db_data: